<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Their Projects</title>
  <link href="/styles.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>


  <body>
    <section id="header">
      <a href="/"><img src="img/home/logo-brown-nobg.png" height=80 width=115 ></a>
      <div>
       <ul id="navbar">
         <li><a  href="/">Home</a></li>
         <li><a class="active" href="/projects">Their Projects</a></li>
         <li><a href="/getinvolved">Get Involved</a></li>
         <li><a href="/ourworks">Our Works</a></li>
         <li><a href="/aboutus">About Us</a></li>
       </ul>
     </div>
    </section>
    

    <section style="background-image: url(img/project/TryMeBeyonce.png);background-repeat: no-repeat; padding-bottom: 90px;">
    <h2 style="color: rgb(0, 0, 0); padding-top: 65px;  font-family: 'E A Garamond'; font-weight: bold; text-align: center;" class="animate__animated animate__fadeIn">#MakeADifference</h2>
    <section id="hero" class="animate__animated animate__pulse">
  <div id="mission" class="over" style="text-align: center; padding-bottom: 20px; display: flex;">
    <img src="img/project/OverlayBanner.png">
  <p style="padding: 45px 20px 20px; text-align: justify; font-family: 'E A Garamond'; font-weight: lighter; color: darkslategrey; ">
    Discover the heart and soul woven into every stitch and stroke of our handmade products, lovingly crafted by the skilled hands of elderly artisans and individuals with diverse abilities. Each piece reflects a journey of resilience, creativity, and unwavering determination. From cozy knitted shawls to intricately designed ceramics, every creation embodies a testament to the rich tapestry of human experience. By choosing our handmade treasures, you're not only embracing quality craftsmanship but also fostering a community where every individual's talent is celebrated and valued. Join us in empowering these remarkable artisans and enriching lives, one handmade masterpiece at a time.<br>Together, let's weave a future where everyone's story is heard, cherished, and celebrated.</p>
  </div>
    </section>
  </section>
  <section id="product1" class="section-p1">
    <div class="pro-container">
      <a href="/sproduct8">
        <div class="pro">
          <div class="img-div">
            <img src="img/project/pouch/pouch.jpg" height="250" alt="">
          </div>
          <div class="des">
            <span>Handcrafted</span>
            <h5>Pouch</h5>
            <h4>Price</h4>
          </div>
        </div>
        </a>
      <a href="/sproduct6">
        <div class="pro">
          <div class="img-div">
            <img src="img/project/tote/bag1.jpg" height="250" alt="">
          </div>
          <div class="des">
            <span>Handcrafted</span>
            <h5>Tote Bag</h5>
            <h4>Price</h4>
          </div>
        </div>
        </a>
      <a href="/sproduct7">
        <div class="pro">
          <div class="img-div">
            <img src="img/project/tea/coaster.jpg" height="250" alt="">
          </div>
          <div class="des">
            <span>Handcrafted</span>
            <h5>Tea Coaster</h5>
            <h4>Price</h4>
          </div>
        </div>
        </a>
      <a href="/sproduct2">
        <div class="pro">
          <div class="img-div">
            <img src="img/project/scarf/sca.jpg" height="250">
          </div>
          <div class="des">
            <span>Handcrafted</span>
            <h5>Scarfs</h5>
            <h4>Price</h4>
          </div>
        </div>
        </a>
      <a href="/sproduct1">
        <div class="pro">
          <div class="img-div">
            <img src="img/project/barce/braclet.jpg" height="250" alt="">
          </div>
          <div class="des">
            <span>Handcrafted</span>
            <h5>Indian Braclets</h5>
            <h4>Price</h4>
          </div>
        </div>
      </a>
      <a href="/sproduct3">
      <div class="pro">
        <div class="img-div">
          <img src="img/project/pot/pot22.jpg" height="250" alt="">
        </div>
        <div class="des">
          <span>Handcrafted</span>
          <h5>Pottery</h5>
          <h4>Price</h4>
        </div>
      </div>
      </a>
      <a href="/sproduct4">
      <div class="pro">
        <div class="img-div">
          <img src="img/project/paint/painting.jpg" height="250" alt="">
        </div>
        <div class="des">
          <span>Handcrafted/ Customisable</span>
          <h5>Painting</h5>
          <h4>Price</h4>
        </div>
      </div>
      </a>
      <a href="/sproduct5">
      <div class="pro">
        <div class="img-div">
          <img src="img/project/rock/rock_paint2.jpg" height="250" alt="">
        </div>
        <div class="des">
          <span>Handcrafted/ Customisable</span>
          <h5>Rock Painting</h5>
          <h4>Price</h4>
        </div>
      </div>
      </a>
    </div>
  </section>
      <!--Newsletter-->
      <%- include("./partials/newsletter.ejs") %>

        <!--Footter-->
        <%- include("./partials/footer.ejs") %>

          <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
          <script type="module" src="script.js"></script>

          <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
          <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
  </body>

</html>