<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Our Works</title>
    <link  rel="stylesheet" href="/spro.css" type="text/css" />
    <link  rel="stylesheet" href="/hf.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--ANIMATE.css-->
  </head>

<body style="background-color: #ffff; width: 100%;">
  <section id="header">
    <a href="/"><img src="img/home/logo-brown-nobg.png" height=80 width=115 ></a>
    <div>
     <ul id="navbar">
       <li><a  href="/">Home</a></li>
       <li><a class="active" href="/projects">Their Projects</a></li>
       <li><a href="/getinvolved">Get Involved</a></li>
       <li><a href="/ourworks">Our Works</a></li>
       <li><a href="/aboutus">About Us</a></li>
     </ul>
   </div>
  </section>    <section id="prodetails" class="section-p1">
      <div class="single-pro-image">
        <img src="img/project/pouch/pouch1.jpg" width="100%" id="MainImg">
        <div class="small-img-group">
          <div class="small-img-col">
            <img src="img/project/pouch/pouch1.jpg" width="100%" height="80%" class="small-img">
          </div>
          <div class="small-img-col">
            <img src="img/project/pouch/pouch2.jpg" width="100%" height="80%" class="small-img">
          </div>
          <div class="small-img-col">
            <img src="img/project/pouch/pouch3.jpg" width="100%" height="80%" class="small-img">
          </div>
          <div class="small-img-col">
            <img src="img/project/pouch/pouch4.jpg" width="100%" height="80%" class="small-img">
          </div>
        </div>
      </div>
    
      <div class="single-pro-details">
        <h6>Handcrafted</h6>
        <h4>Pouch</h4>
        <h2>$price</h2>
        <!--<select>
          <option>Select size</option>
          <option>Small</option>
          <option>Medium</option>
          <option>Large</option>
          <option>Custom</option>
        </select>-->
        <input type="number" value="1" min="0" >
        <button class="normal">Add To Cart</button>
        <h4>Product Details</h4>
        <span>Meticulously crafted with love and care to support our noble cause. Each pouch is a testament to the dedication of our skilled artisans, who pour their creativity into every stitch. These unique creations not only serve as functional accessories but also symbolize the empowerment of marginalized communities.<br>Every purchase contributes to our NGO's mission, supporting disabled and elderly individuals. By owning one of these handcrafted pouches, you not only add a touch of style to your life but also become a part of a community dedicated to making a positive impact.</span>
      </div>
    </section>
      <section class="person">
        <img src="img/project/pouch/person3.jpg">
        <p class="person-details">
        Rohan, a spirited individual with a unique perspective, pours his heart into crafting handmade pouches. Despite the challenges life has thrown his way, he embraces his creativity with unwavering determination. With deft fingers that defy conventional expectations, he meticulously stitches together fabric, infusing each pouch with his vibrant spirit. Each stitch is a testament to his resilience, each fabric choice a reflection of his boundless imagination. Encouraged by his loving mother, who always believed in his talents, Rohan's creations not only showcase his skill but also embody the power of love and encouragement. 
        </p>
      </section>
      <script>
        var MainImg = document.getElementById("MainImg");
        var smallimg = document.getElementsByClassName("small-img");
    
        smallimg[0].onclick = function () {
          MainImg.src = smallimg[0].src;
        }
        smallimg[1].onclick = function () {
          MainImg.src = smallimg[1].src;
        }
        smallimg[2].onclick = function () {
          MainImg.src = smallimg[2].src;
        }
        smallimg[3].onclick = function () {
          MainImg.src = smallimg[3].src;
        }
      </script>
  <!--Newsletter-->
  <%- include("./partials/newsletter.ejs") %>

      <!--Footter-->
      <%- include("./partials/footer.ejs") %>





    <script type="module" src="script.js"></script>
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
  </body>

  </html>